<tr>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.username %></td>
  <td><%= user.mobile_number %></td>
  <td><%= user.email %></td>
  <td><%= user.active_status %></td>
  <td><%= user.del_status %></td>
  <td><%= link_to "View", user %></td>
</tr>
