<div id="<%= dom_id entity_info %>">
  <p>
    <strong>Assigned code:</strong>
    <%= entity_info.assigned_code %>
  </p>

  <p>
    <strong>Entity name:</strong>
    <%= entity_info.entity_name %>
  </p>

  <p>
    <strong>Entity alias:</strong>
    <%= entity_info.entity_alias %>
  </p>

  <p>
    <strong>Narration:</strong>
    <%= entity_info.narration %>
  </p>

  <p>
    <strong>Active status:</strong>
    <%= entity_info.active_status %>
  </p>

  <p>
    <strong>Del status:</strong>
    <%= entity_info.del_status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= entity_info.user_id %>
  </p>

</div>
