<div id="<%= dom_id user_role %>">
  <p>
    <strong>Role code:</strong>
    <%= user_role.role_code %>
  </p>

  <p>
    <strong>User code:</strong>
    <%= user_role.user_code %>
  </p>

  <p>
    <strong>Entity code:</strong>
    <%= user_role.entity_code %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= user_role.creator_id %>
  </p>

  <p>
    <strong>Active status:</strong>
    <%= user_role.active_status %>
  </p>

  <p>
    <strong>Del status:</strong>
    <%= user_role.del_status %>
  </p>

</div>
