<div id="<%= dom_id permission %>">
  <p>
    <strong>Subject class:</strong>
    <%= permission.subject_class %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= permission.action %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= permission.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= permission.comment %>
  </p>

  <p>
    <strong>Active status:</strong>
    <%= permission.active_status %>
  </p>

  <p>
    <strong>Del status:</strong>
    <%= permission.del_status %>
  </p>

</div>
