<div id="<%= dom_id role %>">
  <p>
    <strong>Name:</strong>
    <%= role.name %>
  </p>

  <p>
    <strong>Role code:</strong>
    <%= role.role_code %>
  </p>

  <p>
    <strong>Role type:</strong>
    <%= role.role_type %>
  </p>

  <p>
    <strong>Active status:</strong>
    <%= role.active_status %>
  </p>

  <p>
    <strong>Del status:</strong>
    <%= role.del_status %>
  </p>

</div>
