<div class="container">
    <aside>
      <div class="top">
        <a href="<%=root_path%>" class="logo">
          <%= image_tag 'logo' %>
          <h2>CON <span class="danger">TACT</span> </h2>
        </a>
        <div class="close" id="close-btn">
          <span class="material-icons-sharp">close</span>
        </div>
      </div>

      <div class="sidebar">
        <a href="<%=root_path%>" class="<%= active_class(root_path) %>">
          <span class="material-icons-sharp">grid_view</span>
          <h3>Dashboard</h3>
        </a>
        <a href="<%= contacts_path %>" class="<%= active_class(contacts_path) %>">
          <span class="material-icons-sharp">receipt_long</span>
          <h3>Contacts</h3>
        </a>
        <a href="<%= entity_infos_path %>" class="<%= active_class(entity_infos_path) %>">
          <span class="material-icons-sharp">mail_outline</span>
          <h3>Entity</h3>
        </a>
        <a href="<%= roles_path %>" class="<%= active_class(roles_path) %>">
          <span class="material-icons-sharp">settings</span>
          <h3>Roles</h3>
        </a>
        <a href="<%= users_path %>" class="<%= active_class(users_path) %>">
          <span class="material-icons-sharp">person_outline</span>
          <h3>User</h3>
        </a>
        <a href="#">
          <span class="material-icons-sharp">logout</span>
          <h3>Logout</h3>
        </a>
      </div>
    </aside>
    <!----------------- END OF ASIDE --------------------->
    <main>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
    <!----------------- END OF MAIN --------------------->

  
  </div>